.btn {
  background-color: var(--dark-cyan);
  border-radius: 0.6rem;
  border: none;
  padding: 1.5rem 3.1rem;
  color: var(--light-cream);
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.3;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #66d2cf;
  }
}
